[user]
	email = bird@grandroundshealth.com
	name = Alex Bird
[alias]
	br = branch
	ci = commit
	co = checkout
	d  = diff
	lg = log --graph --decorate=short
	st = status
[color]
	diff = auto
	status = auto
	interactive = auto
	branch = auto
[core]
	editor = vim
	excludesfile = /home/bird/.gitignore_global
[push]
	default = current
[pull]
	default = simple
