TerminalWindow .notebook tab:active {
	/*solarized*/
	/*background-color: #002B36;*/

	/*crazy*/
	background-color: #ff7f00;
}

TerminalWindow .notebook {
	border: 0;
	border-radius: 0;
	padding: 0;

	/* solarized */
	/*color: #bbb;*/
	/*background-color: #586E75;*/

	/* crazy */
	color: black;
	background-color: #3385ff;
}
